:root {
    --dark: #353531;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
	font-weight: normal;
}

html {
    font-size: 1rem;
}

body {
    background-color: var(--dark);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

header {
    background-color: white;
    height: 75px;
    width: 100%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

#logoImg {
    height: 100%;
}


a.active {
    font-weight: bold;
}


form {
	margin-bottom: 0;
}

.programs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.program {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* border-right: 3px solid rgba(0, 0, 0, 0.3); */
}

.dividing-line {
    height: 50vh;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.3);
}

.program-icon {
    width: 100px;
}

.program-link {
    text-decoration: underline;
    margin-bottom: 30px;
}

section {
	margin: 2rem 0;
}

hr {
	margin: 1rem 0;
}

#log-message {
	height: 10rem;
}

.button, .button:focus {
	color: white;
	border-color: white;
}

.button:hover {
	color: rgba(255,255,255,0.8);
}

.badge {
	color: black;
	background-color: #eee;
	width: 7rem;
	margin-bottom: 1rem;
	margin-left:3rem;
	border-radius: 5%;
	font-family: Raleway;
	font-size:1rem;
}

.log {
	margin-bottom: 3rem;
}

